Source: midilooper
Maintainer: Gilbert Romer <gilbux@gmail.com>
Section: sound
Priority: optional
Build-Depends: cmake, debhelper (>= 9), dpkg-dev, git, libasound2-dev, libconfig-dev, libfreetype6-dev, libgles2-mesa-dev, libglfw3-dev, libjack-dev, liblo-dev
Standards-Version: 3.9.6
Homepage: https://github.com/supergilbert/midilooper

Package: midilooper
Architecture: any
Section: sound
Depends: ${misc:Depends}, ${shlibs:Depends}
Recommends: jackd
Description: Midi loop sequencer
 Midi loop sequencer that can be controlled via keyboard and (or) midi shortcut.
