Source: midilooper
Maintainer: Gilbert Romer <gilbux@gmail.com>
Section: sound
Priority: optional
Build-Depends: debhelper (>= 9), libasound-dev, libjack-dev-session
Standards-Version: 3.9.6
Homepage: https://github.com/supergilbert/midilooper

Package: midilooper
Architecture: any
Section: sound
Depends: ${misc:Depends}, ${shlibs:Depends}
Recommends: jackd
Description: Midi loop sequencer
 Midi loop sequencer that can be controlled via keyboard and (or) midi shortcut.
