name: Ubuntu build

on: [push]

env:
  # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
  BUILD_TYPE: Release

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - uses: actions/setup-node@v4
      with:
        node-version: '16'

    - name: Initialise submodules
      run: git submodule update --recursive --init

    - name: Install dependencies
      run: |
        sudo apt update
        sudo apt -y upgrade
        sudo apt -y install libasound2-dev libbz2-dev libconfig-dev libfreetype6-dev libgles2-mesa-dev libglfw3-dev libjack-jackd2-dev liblo-dev libbrotli-dev
      env:
        DEBIAN_FRONTEND: noninteractive

    - name: Create Build Environment
      # Some projects don't allow in-source building, so create a separate build directory
      # We'll use this as our working directory for all subsequent commands
      run: cmake -E make_directory ${{runner.workspace}}/build

    - name: Configure CMake
      # Use a bash shell so we can use the same syntax for environment variable
      # access regardless of the host operating system
      shell: bash
      working-directory: ${{runner.workspace}}/build
      # Note the current convention is to use the -S and -B options here to specify source
      # and build directories, but this is only available with CMake 3.13 and higher.
      # The CMake binaries on the Github Actions machines are (as of this writing) 3.12
      run: cmake $GITHUB_WORKSPACE -DMLP_STATIC=ON -DCMAKE_BUILD_TYPE=$BUILD_TYPE

    - name: Build
      working-directory: ${{runner.workspace}}/build
      shell: bash
      # Execute the build.  You can specify a specific target with "--target <NAME>"
      run: cmake --build . --config $BUILD_TYPE

    - uses: actions/upload-artifact@v4
      with:
        name: midilooper_ubuntu_elf_x64
        path: ${{runner.workspace}}/build/midilooper
